.sidebar
  .logo-area Moka
  ul.links-area.list-unstyled
    li: a(href="#") HomePage
    li
      a(href="#") 
        | Forms
        i.fa.fa-angle-right.toggle-submenu
      ul.child-links.list-unstyled
        li: a(href="#") input
        li: a(href="#") Textarea
        li: a(href="#") checkbox
        li: a(href="#") radio
        
    li
      a(href="#") 
        | Misc
        i.fa.fa-angle-right.toggle-submenu
      ul.child-links.list-unstyled
        li: a(href="#") Loading
        li: a(href="#") Breadcrumbs
