- var pageTitle = 'Homepage'
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=`, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/slider
      .content-area 
        h1 #{pageTitle}







script(src = "http://localhost:35729/livereload.js")