- var pageTitle = 'Homepage'
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
  body
    .page.home-page
      include pug/components/settings-box
      include pug/layout/slider
      .content-area 
        include pug/layout/header
        .container-fluid
          .content
            include pug/components/pagehead

    include pug/layout/scripts




